#TabsToolbar {visibility: collapse;}

#sidebar-header {visibility: collapse;}

#nav-bar { display: none }

#scroll-bar { display: none }

#content browser {
    margin-right: -14px !important;
    overflow-y: scroll !important;
    overflow-x: hidden !important;
}
